@font-face {
    font-display: swap;
    font-family: GmarketSans;
    font-style: normal;
    font-weight: 300;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot);
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix)
            format("embedded-opentype"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2)
            format("woff2"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff)
            format("woff"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf)
            format("truetype");
}
@font-face {
    font-display: swap;
    font-family: GmarketSans;
    font-style: normal;
    font-weight: 500;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot);
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix)
            format("embedded-opentype"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2)
            format("woff2"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff)
            format("woff"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf)
            format("truetype");
}
@font-face {
    font-display: swap;
    font-family: GmarketSans;
    font-style: normal;
    font-weight: 700;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot);
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix)
            format("embedded-opentype"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2)
            format("woff2"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff)
            format("woff"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf)
            format("truetype");
}
@font-face {
    font-display: swap;
    font-family: NexonLv1Gothic;
    font-style: normal;
    font-weight: 300;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicLight.eot);
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicLight.eot?#iefix)
            format("embedded-opentype"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicLight.woff2)
            format("woff2"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicLight.woff)
            format("woff"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicLight.ttf)
            format("truetype");
}
@font-face {
    font-display: swap;
    font-family: NexonLv1Gothic;
    font-style: normal;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicRegular.eot);
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicRegular.eot?#iefix)
            format("embedded-opentype"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicRegular.woff2)
            format("woff2"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicRegular.woff)
            format("woff"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicRegular.ttf)
            format("truetype");
}
@font-face {
    font-display: swap;
    font-family: NexonLv1Gothic;
    font-style: normal;
    font-weight: 700;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicBold.eot);
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicBold.eot?#iefix)
            format("embedded-opentype"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicBold.woff2)
            format("woff2"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicBold.woff)
            format("woff"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicBold.ttf)
            format("truetype");
}
@font-face {
    font-display: swap;
    font-family: SCoreDream;
    font-style: normal;
    font-weight: 100;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamThin.eot);
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamThin.eot?#iefix)
            format("embedded-opentype"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamThin.woff2)
            format("woff2"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamThin.woff)
            format("woff"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamThin.ttf)
            format("truetype");
}
@font-face {
    font-display: swap;
    font-family: SCoreDream;
    font-style: normal;
    font-weight: 200;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamExtraLight.eot);
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamExtraLight.eot?#iefix)
            format("embedded-opentype"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamExtraLight.woff2)
            format("woff2"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamExtraLight.woff)
            format("woff"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamExtraLight.ttf)
            format("truetype");
}
@font-face {
    font-display: swap;
    font-family: SCoreDream;
    font-style: normal;
    font-weight: 300;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamLight.eot);
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamLight.eot?#iefix)
            format("embedded-opentype"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamLight.woff2)
            format("woff2"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamLight.woff)
            format("woff"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamLight.ttf)
            format("truetype");
}
@font-face {
    font-display: swap;
    font-family: SCoreDream;
    font-style: normal;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamRegular.eot);
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamRegular.eot?#iefix)
            format("embedded-opentype"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamRegular.woff2)
            format("woff2"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamRegular.woff)
            format("woff"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamRegular.ttf)
            format("truetype");
}
@font-face {
    font-display: swap;
    font-family: SCoreDream;
    font-style: normal;
    font-weight: 500;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamMedium.eot);
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamMedium.eot?#iefix)
            format("embedded-opentype"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamMedium.woff2)
            format("woff2"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamMedium.woff)
            format("woff"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamMedium.ttf)
            format("truetype");
}
@font-face {
    font-display: swap;
    font-family: SCoreDream;
    font-style: normal;
    font-weight: 600;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBold.eot);
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBold.eot?#iefix)
            format("embedded-opentype"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBold.woff2)
            format("woff2"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBold.woff)
            format("woff"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBold.ttf)
            format("truetype");
}
@font-face {
    font-display: swap;
    font-family: SCoreDream;
    font-style: normal;
    font-weight: 700;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamExtraBold.eot);
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamExtraBold.eot?#iefix)
            format("embedded-opentype"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamExtraBold.woff2)
            format("woff2"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamExtraBold.woff)
            format("woff"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamExtraBold.ttf)
            format("truetype");
}
@font-face {
    font-display: swap;
    font-family: SCoreDream;
    font-style: normal;
    font-weight: 800;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamHeavy.eot);
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamHeavy.eot?#iefix)
            format("embedded-opentype"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamHeavy.woff2)
            format("woff2"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamHeavy.woff)
            format("woff"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamHeavy.ttf)
            format("truetype");
}
@font-face {
    font-display: swap;
    font-family: SCoreDream;
    font-style: normal;
    font-weight: 900;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBlack.eot);
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBlack.eot?#iefix)
            format("embedded-opentype"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBlack.woff2)
            format("woff2"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBlack.woff)
            format("woff"),
        url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBlack.ttf)
            format("truetype");
}
.score1 {
    font-family: SCoreDream;
    font-weight: 100;
}
.nexon1 {
    font-family: NexonLv1Gothic;
    font-weight: 100;
}
.gmaket1 {
    font-family: GmarketSans;
    font-weight: 100;
}
.score2 {
    font-family: SCoreDream;
    font-weight: 200;
}
.nexon2 {
    font-family: NexonLv1Gothic;
    font-weight: 200;
}
.gmaket2 {
    font-family: GmarketSans;
    font-weight: 200;
}
.score3 {
    font-family: SCoreDream;
    font-weight: 300;
}
.nexon3 {
    font-family: NexonLv1Gothic;
    font-weight: 300;
}
.gmaket3 {
    font-family: GmarketSans;
    font-weight: 300;
}
.score4 {
    font-family: SCoreDream;
    font-weight: 400;
}
.nexon4 {
    font-family: NexonLv1Gothic;
    font-weight: 400;
}
.gmaket4 {
    font-family: GmarketSans;
    font-weight: 400;
}
.score5 {
    font-family: SCoreDream;
    font-weight: 500;
}
.nexon5 {
    font-family: NexonLv1Gothic;
    font-weight: 500;
}
.gmaket5 {
    font-family: GmarketSans;
    font-weight: 500;
}
.score6 {
    font-family: SCoreDream;
    font-weight: 600;
}
.nexon6 {
    font-family: NexonLv1Gothic;
    font-weight: 600;
}
.gmaket6 {
    font-family: GmarketSans;
    font-weight: 600;
}
.score7 {
    font-family: SCoreDream;
    font-weight: 700;
}
.nexon7 {
    font-family: NexonLv1Gothic;
    font-weight: 700;
}
.gmaket7 {
    font-family: GmarketSans;
    font-weight: 700;
}
.score8 {
    font-family: SCoreDream;
    font-weight: 800;
}
.nexon8 {
    font-family: NexonLv1Gothic;
    font-weight: 800;
}
.gmaket8 {
    font-family: GmarketSans;
    font-weight: 800;
}
.score9 {
    font-family: SCoreDream;
    font-weight: 900;
}
.nexon9 {
    font-family: NexonLv1Gothic;
    font-weight: 900;
}
.gmaket9 {
    font-family: GmarketSans;
    font-weight: 900;
}
:root {
    --color_body: #101010;
    --bg_section: #f6f8fd;
    --button_blue: #4857ec;
    --button_red: #f34;
    --button_green: #00c183;
}
*,
:after,
:before {
    box-sizing: border-box;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #101010;
    color: var(--color_body);
    font-family: -apple-system, BlinkMacSystemFont, Malgun Gothic, 맑은 고딕,
        helvetica, Apple SD Gothic Neo, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.4px;
    line-height: 1.4;
}
blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
figcaption,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
table,
td,
th,
ul {
    margin: 0;
    padding: 0;
}
a {
    color: #000;
    text-decoration: none;
}
li,
ol,
ul {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1rem;
    font-weight: 400;
}
address,
em {
    font-style: normal;
}
img,
svg,
video {
    display: block;
    height: auto;
    max-width: 100%;
}
button,
fieldset,
img {
    border: 0;
}
.container {
    margin: 0 auto;
    position: relative;
    width: 1280px;
}
.section.center {
    text-align: center;
}
.section {
    padding: 120px 0;
}
.section > h3 {
    font-size: 50px;
}
.section > p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 60px;
}
.cont__title > h2 {
    font-size: 5vw;
    font-weight: 900;
    padding: 5%;
    text-align: center;
    text-transform: uppercase;
}
.bg-blue {
    background-color: #f6f8fd;
    background-color: var(--bg_section);
}
.button-blue {
    background-color: #4857ec;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 50px;
    text-decoration: none;
    transition: background-color 0.3s;
}
.button-blue:hover {
    background-color: #1a2de7;
}
.button-red {
    background-color: #f34;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 50px;
    text-decoration: none;
    transition: background-color 0.3s;
}
.button-red:hover {
    background-color: #ff0015;
}
.button-green {
    background-color: #00c183;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 50px;
    text-decoration: none;
    transition: background-color 0.3s;
}
.button-green:hover {
    background-color: #008e60;
}
.icon-bg1 {
    padding-top: 70px;
    position: relative;
}
.icon-bg1:before {
    background-color: #d3f6ea;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.625 21.563h18.75V3.75H7.5c-.527.02-.967.205-1.318.557-.351.352-.537.791-.557 1.318v15.938ZM7.5 1.875h17.813c.273 0 .498.088.674.263.175.176.263.4.263.675V22.5a.913.913 0 0 1-.263.674.913.913 0 0 1-.674.264H4.688l-.938 1.7V5.624c.02-1.055.386-1.939 1.099-2.651.713-.713 1.597-1.079 2.651-1.099Zm-.469 21.563c-.39.019-.718.16-.981.424-.264.264-.396.591-.396.982 0 .39.132.718.396.981.263.264.59.406.981.425h17.344v-2.813H7.031Zm0-1.875H26.25v4.687c-.02.527-.205.967-.557 1.318-.352.351-.791.537-1.318.557H7.031c-.937-.02-1.713-.337-2.329-.953-.614-.615-.932-1.391-.952-2.328.02-.938.337-1.714.952-2.329.616-.615 1.392-.933 2.33-.953ZM11.25 3.75v7.354l2.813-2.256 2.812 2.256V3.75H11.25ZM9.375 1.875h9.375v11.162c-.02.39-.2.669-.542.835-.342.166-.669.132-.981-.102l-3.165-2.52-3.164 2.52c-.312.234-.64.268-.981.102-.342-.166-.523-.444-.542-.835V1.875Z' fill='%2308080A' fill-opacity='.96'/%3E%3C/svg%3E");
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    content: "";
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: 60px;
}
.icon-bg1:hover:before {
    background-color: #a9edd6;
}
.icon-bg2 {
    padding-top: 70px;
    position: relative;
}
.icon-bg2:before {
    background-color: #e1f9d5;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.625 21.563h18.75V3.75H7.5c-.527.02-.967.205-1.318.557-.351.352-.537.791-.557 1.318v15.938ZM7.5 1.875h17.813c.273 0 .498.088.674.263.175.176.263.4.263.675V22.5a.913.913 0 0 1-.263.674.913.913 0 0 1-.674.264H4.688l-.938 1.7V5.624c.02-1.055.386-1.939 1.099-2.651.713-.713 1.597-1.079 2.651-1.099Zm-.469 21.563c-.39.019-.718.16-.981.424-.264.264-.396.591-.396.982 0 .39.132.718.396.981.263.264.59.406.981.425h17.344v-2.813H7.031Zm0-1.875H26.25v4.687c-.02.527-.205.967-.557 1.318-.352.351-.791.537-1.318.557H7.031c-.937-.02-1.713-.337-2.329-.953-.614-.615-.932-1.391-.952-2.328.02-.938.337-1.714.952-2.329.616-.615 1.392-.933 2.33-.953ZM11.25 3.75v7.354l2.813-2.256 2.812 2.256V3.75H11.25ZM9.375 1.875h9.375v11.162c-.02.39-.2.669-.542.835-.342.166-.669.132-.981-.102l-3.165-2.52-3.164 2.52c-.312.234-.64.268-.981.102-.342-.166-.523-.444-.542-.835V1.875Z' fill='%2308080A' fill-opacity='.96'/%3E%3C/svg%3E");
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    content: "";
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: 60px;
}
.icon-bg2:hover:before {
    background-color: #c1f3a8;
}
.icon-bg3 {
    padding-top: 70px;
    position: relative;
}
.icon-bg3:before {
    background-color: #f6dce0;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.625 21.563h18.75V3.75H7.5c-.527.02-.967.205-1.318.557-.351.352-.537.791-.557 1.318v15.938ZM7.5 1.875h17.813c.273 0 .498.088.674.263.175.176.263.4.263.675V22.5a.913.913 0 0 1-.263.674.913.913 0 0 1-.674.264H4.688l-.938 1.7V5.624c.02-1.055.386-1.939 1.099-2.651.713-.713 1.597-1.079 2.651-1.099Zm-.469 21.563c-.39.019-.718.16-.981.424-.264.264-.396.591-.396.982 0 .39.132.718.396.981.263.264.59.406.981.425h17.344v-2.813H7.031Zm0-1.875H26.25v4.687c-.02.527-.205.967-.557 1.318-.352.351-.791.537-1.318.557H7.031c-.937-.02-1.713-.337-2.329-.953-.614-.615-.932-1.391-.952-2.328.02-.938.337-1.714.952-2.329.616-.615 1.392-.933 2.33-.953ZM11.25 3.75v7.354l2.813-2.256 2.812 2.256V3.75H11.25ZM9.375 1.875h9.375v11.162c-.02.39-.2.669-.542.835-.342.166-.669.132-.981-.102l-3.165-2.52-3.164 2.52c-.312.234-.64.268-.981.102-.342-.166-.523-.444-.542-.835V1.875Z' fill='%2308080A' fill-opacity='.96'/%3E%3C/svg%3E");
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    content: "";
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: 60px;
}
.icon-bg3:hover:before {
    background-color: #ecb3bc;
}
.icon-bg4 {
    padding-top: 70px;
    position: relative;
}
.icon-bg4:before {
    background-color: #d3d8fa;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.625 21.563h18.75V3.75H7.5c-.527.02-.967.205-1.318.557-.351.352-.537.791-.557 1.318v15.938ZM7.5 1.875h17.813c.273 0 .498.088.674.263.175.176.263.4.263.675V22.5a.913.913 0 0 1-.263.674.913.913 0 0 1-.674.264H4.688l-.938 1.7V5.624c.02-1.055.386-1.939 1.099-2.651.713-.713 1.597-1.079 2.651-1.099Zm-.469 21.563c-.39.019-.718.16-.981.424-.264.264-.396.591-.396.982 0 .39.132.718.396.981.263.264.59.406.981.425h17.344v-2.813H7.031Zm0-1.875H26.25v4.687c-.02.527-.205.967-.557 1.318-.352.351-.791.537-1.318.557H7.031c-.937-.02-1.713-.337-2.329-.953-.614-.615-.932-1.391-.952-2.328.02-.938.337-1.714.952-2.329.616-.615 1.392-.933 2.33-.953ZM11.25 3.75v7.354l2.813-2.256 2.812 2.256V3.75H11.25ZM9.375 1.875h9.375v11.162c-.02.39-.2.669-.542.835-.342.166-.669.132-.981-.102l-3.165-2.52-3.164 2.52c-.312.234-.64.268-.981.102-.342-.166-.523-.444-.542-.835V1.875Z' fill='%2308080A' fill-opacity='.96'/%3E%3C/svg%3E");
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    content: "";
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: 60px;
}
.icon-bg4:hover:before {
    background-color: #a5aff5;
}
.icon-bg5 {
    padding-top: 70px;
    position: relative;
}
.icon-bg5:before {
    background-color: #dafbeb;
    background-image: url(/static/media/intro04.62f0e7a7610c3d02efd2.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    content: "";
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: 60px;
}
.icon-bg5:hover:before {
    background-color: #acf6d2;
}
.icon-bg6 {
    padding-top: 70px;
    position: relative;
}
.icon-bg6:before {
    background-color: #ffd6fd;
    background-image: url(/static/media/intro05.89c0dd766847763e421e.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    content: "";
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: 60px;
}
.icon-bg6:hover:before {
    background-color: #ffa3fb;
}
.blind {
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    position: absolute;
    width: 1px;
}
.blind,
.ir {
    overflow: hidden;
}
.ir {
    display: block;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}
#skip {
    position: relative;
    z-index: 100000;
}
#skip a {
    background: #000;
    color: #fff;
    left: -400px;
    padding: 20px 40px;
    position: absolute;
    top: 5px;
}
#skip a:active,
#skip a:focus {
    left: 5px;
}
.mb0 {
    margin-bottom: 0 !important;
}
.mb10 {
    margin-bottom: 10 !important;
}
.mb20 {
    margin-bottom: 20 !important;
}
.mb30 {
    margin-bottom: 30 !important;
}
.mb40 {
    margin-bottom: 40 !important;
}
.mb50 {
    margin-bottom: 50 !important;
}
.mb60 {
    margin-bottom: 60 !important;
}
.mb70 {
    margin-bottom: 70 !important;
}
.mb80 {
    margin-bottom: 80 !important;
}
.mb90 {
    margin-bottom: 90 !important;
}
.mb100 {
    margin-bottom: 100 !important;
}
.mt0 {
    margin-top: 0 !important;
}
.mt10 {
    margin-top: 10 !important;
}
.mt20 {
    margin-top: 20 !important;
}
.mt30 {
    margin-top: 30 !important;
}
.mt40 {
    margin-top: 40 !important;
}
.mt50 {
    margin-top: 50 !important;
}
.mt60 {
    margin-top: 60 !important;
}
.mt70 {
    margin-top: 70 !important;
}
.mt80 {
    margin-top: 80 !important;
}
.mt90 {
    margin-top: 90 !important;
}
.mt100 {
    margin-top: 100 !important;
}
.ml0 {
    margin-left: 0 !important;
}
.ml10 {
    margin-left: 10 !important;
}
.ml20 {
    margin-left: 20 !important;
}
.ml30 {
    margin-left: 30 !important;
}
.ml40 {
    margin-left: 40 !important;
}
.ml50 {
    margin-left: 50 !important;
}
.ml60 {
    margin-left: 60 !important;
}
.ml70 {
    margin-left: 70 !important;
}
.ml80 {
    margin-left: 80 !important;
}
.ml90 {
    margin-left: 90 !important;
}
.ml100 {
    margin-left: 100 !important;
}
.mr0 {
    margin-right: 0 !important;
}
.mr10 {
    margin-right: 10 !important;
}
.mr20 {
    margin-right: 20 !important;
}
.mr30 {
    margin-right: 30 !important;
}
.mr40 {
    margin-right: 40 !important;
}
.mr50 {
    margin-right: 50 !important;
}
.mr60 {
    margin-right: 60 !important;
}
.mr70 {
    margin-right: 70 !important;
}
.mr80 {
    margin-right: 80 !important;
}
.mr90 {
    margin-right: 90 !important;
}
.mr100 {
    margin-right: 100 !important;
}
.header__inner {
    text-align: center;
}
.header__inner .header__logo {
    width: 100%;
}
.header__inner .header__logo a {
    display: inline-block;
    font-size: 30px;
    font-weight: 800;
    margin: 5px 5px 0;
    padding: 5px 5px 0;
    text-transform: uppercase;
}
.header__inner .header__logo a em {
    font-weight: 500;
    text-transform: lowercase;
}
.header__inner .header__nav {
    width: 100%;
}
.header__inner .header__nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}
.header__inner .header__nav ul li a {
    display: inline-block;
    margin: 2px;
    padding: 20px 10px;
    position: relative;
}
.header__inner .header__nav ul li a:before {
    background-color: #101010;
    background-color: var(--color_body);
    bottom: 16px;
    content: "";
    height: 2px;
    left: 10px;
    position: absolute;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: all 0.3s ease;
    width: calc(100% - 20px);
}
.header__inner .header__nav ul li a:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.slider__inner {
    position: relative;
}
.slider__inner .slider__img .slider .text h3 {
    font-size: 110px;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 40px;
    padding-top: 100px;
    text-transform: uppercase;
}
.slider__inner .slider__img .slider .text p {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 50px;
}
.slider__inner .slider__img .slider .text .more {
    border-radius: 3px;
    font-size: 18px;
}
.slider__inner .slider__img .slider .img {
    background-image: url(/static/media/slider08.4dfdf265c5c76c33aaaf.png);
    background-size: cover;
    height: 600px;
    position: absolute;
    right: 0;
    top: -20px;
    width: 600px;
}
.slider__inner .slider__img .slider .img img:first-child {
    position: absolute;
    width: 300px;
}
.slider__inner .slider__img .slider .img img:nth-child(2) {
    bottom: 0;
    position: absolute;
    width: 300px;
}
.slider__inner .slider__img .slider .img img:nth-child(3) {
    position: absolute;
    right: 0;
    top: 170px;
    width: 300px;
}
.slider__inner .slider__img .slider .circle span {
    border-radius: 50%;
    display: block;
    height: 20px;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 20px;
}
.slider__inner .slider__img .slider .circle span:first-child {
    background-color: #4857ec;
    background-color: var(--button_blue);
    height: 10px;
    left: 50%;
    width: 10px;
}
.slider__inner .slider__img .slider .circle span:nth-child(2) {
    background-color: #f34;
    background-color: var(--button_red);
    height: 40px;
    left: -10%;
    top: 20%;
    width: 40px;
}
.slider__inner .slider__img .slider .circle span:nth-child(3) {
    background-color: #00c183;
    background-color: var(--button_green);
    left: 100%;
    top: 10%;
}
.slider__inner .slider__img .slider .circle span:nth-child(4) {
    background-color: #f34;
    background-color: var(--button_red);
    height: 10px;
    left: 17%;
    top: -10%;
    width: 10px;
}
.slider__inner .slider__img .slider .circle span:nth-child(5) {
    background-color: #4857ec;
    background-color: var(--button_blue);
    height: 30px;
    left: 90%;
    top: 80%;
    width: 30px;
}
.slider__inner .slider__btn > a {
    height: 40px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: opacity 0.3s;
    width: 22px;
}
.slider__inner .slider__btn > a:hover {
    opacity: 0.5;
}
.slider__inner .slider__btn .left {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAoCAYAAAD6xArmAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAJkSURBVHgBpZc/ctpQEMZ3JWakEiZ2anIDcoJAJ6eJ3RgmDfEJgrt0wAlinyByk8Fp4iqhs28QcoLQGw8qpQS9za40wsagpyfxFYz+fPpp9d7uvgfCnvJOH4aI1CKAOiBcTScHvlxHqKi375ctWqkvxNCNG4Sj6bcX40pg73TRR8QLAqrvuu9GdqM0WKD8nb7WhP9eWVAK+jAshLLc0A2MwSmURgZW/+amEdQMjCWgOHcj61yOCiM2hSLhjKGvJdpCsHGkCHfOX6uTQdNLuVCD2U8Blz+vDwbPr9u7zJL8QDDhQxe0VBpPrw8/5bzwWaS9ZRNI3XIJNaEIOjkc5d5+enJ8vKyHjvq1L1S0MXmRo4bFUGk0eqhoncdeb/GBiAZaJqeUE1laz+P7wXRccQ5odaaTxhwMlA6FUn0dFAGDMtDkmTTa+I/eBWdZAzcVRxy3Czx+WWgCRoJ3WgfSFVSQQdtczaGCLF6zfusttSZUAbth7YJzLsgzoLI+S0VCWbC0Oo76Ms8gq3DkrIZQFiw/EnVSAHlwwMFR996o4jKtm5DXu29zeLcaY4C26vz4+nIGBlpnBTeWO2naeUbZ6ajY/p4UVJmIM3ndhUTd1jxi1DO28xjtM914Jz2FG1ZR5FtgicSy4xNdCprAd1aeTBAhnINWenhuSSeNh5cgqAgv3BQedRe8q4SPetf2hBrtNnnZ8jnf+kVw451QJje0B7yKFBQGNUN3ta5OI3DaT6wTfRoKG9+UAouS8eNx1MH5q+qlwSZw/uswqwTegKPaXLJ4x8lVO3483UOSv6jiFlkUSBN7eu8/1f0OgzsnqbsAAAAASUVORK5CYII=);
    left: 20px;
}
.slider__inner .slider__btn .right {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAoCAYAAAD6xArmAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAJdSURBVHgBrZY7cttADIaBpSZkaY8fNX0DHkHu5FROE3vSWLmBcgJLJ7BzAimNx0ljVZE7JSeIcgPVcTxiSc2YRBZLMaRlch8c/9WKC30EASywCFvqnT90McMdEt7i/nZ3CS2FJXAVAqVjuexW9ieA3qjNC0S5TC+3oKw+UDZXL20LRsKo3oTCNvD/YAKKm83c4WUokH7qTSnELLs7PV3tgAs4SDrXkr7UopGixE+vwAU8ne7GgOLYBJfqn5w9GOGi+kOVlQWcAAe994+XOhuse5jXdDZXSdO/oX//bf+LNdgWLv8co5cdf785XIAt2BauwibDt306BWhkF3MqWgFYg+3h0N2uFG0oqnr74U9EqZgTQPMBQZIhOfjBS6PHhfIE4UhrRGJcnExrMGv2de9afuJnDTlMgqcBr6xDUYg9WvuZDAnVdkMuQX/tHTmDWTxlZOOYNxogjZxCUaqz1G4TRC3BT6HJoiUYL/TbOHWOce/8r5yDMNaDvSMnj7l3yNmo78UycXxaO+AA5YYky0wzmvjYexNeWXnMtcvzztifN97y0srjxM/k51OkZcoTObvdnxS/jeB8BFFfb4VLfy2G1SfCCEUaggHKbVUNYxuwDRQBY+GJd3V3u9pQnJw9XsnsD8AgwvTT7GZvUbf3DMzZlxeSOwntgkmqAg4nTdudKnT9hgcnaLNfQg+GWpPS0+yXsU4toSyVvCTg+9jrQZXpJq6r14SyOkkgpy6ZoNlHXaLqJIIEGi/cXKdtoAqcX1/pxViX7XGBHl+d3KG5UxupBg5wgQgxEf12iWed/gEV6Rc0eyc39QAAAABJRU5ErkJggg==);
    right: 20px;
}
.slider__inner .slider__dot {
    bottom: -20%;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.slider__inner .slider__dot a {
    background-color: #f34;
    border: 4px solid #f34;
    border-radius: 50%;
    box-shadow: 0 0 0 3px transparent;
    display: inline-block;
    height: 16px;
    margin: 0 5px;
    width: 16px;
}
.slider__inner .slider__dot a.active {
    background-color: #fff;
    border-width: 4px;
    box-shadow: 0 0 0 3px #f34;
}
.intro__inner {
    display: flex;
    justify-content: space-between;
}
.intro__title {
    width: 33%;
}
.intro__title span {
    background-color: #f34;
    border-radius: 40px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 4px 30px 2px;
    text-transform: uppercase;
}
.intro__title .myCharacter {
    border: 1px solid #000;
    height: 290px;
    position: relative;
    width: 230px;
}
.intro__title .myCharacter img {
    left: 0;
    position: absolute;
    top: 5px;
}
.intro__title h3 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-top: 10px;
}
.intro__title p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
}
.intro__desc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 66%;
}
.intro__desc > div {
    margin-bottom: 40px;
    width: 48%;
}
.intro__desc > div h4 {
    font-size: 24px;
    margin-bottom: 15px;
}
.intro__desc > div:nth-child(3),
.intro__desc > div:nth-child(4) {
    margin-bottom: 0;
}
.member__inner {
    display: flex;
    justify-content: space-between;
}
.member__inner .member {
    border: 2px solid #101010;
    border: 2px solid var(--color_body);
    width: 32%;
}
.member__inner .member .member__header {
    margin-top: -20px;
    padding: 20px;
}
.member__inner .member .member__header img {
    width: 100%;
}
.member__inner .member .member__body {
    background: #000;
    color: #fff;
    margin-top: -90px;
    padding: 15px 10px;
    position: relative;
    z-index: 100;
}
.member__inner .member .member__body h4 {
    font-size: 22px;
}
.member__inner .member .member__body a {
    color: #fff;
    text-decoration: underline;
    text-underline-position: under;
}
.ports__wrap > p {
    margin-top: 10px;
}
.ports__wrap .port__inner .port__cont {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ports__wrap .port__inner .port__cont .port {
    width: 32%;
}
.ports__wrap .port__inner .port__cont .port .port__header img {
    border-radius: 10px;
    height: 272px;
}
.ports__wrap .port__inner .port__cont .port .port__body {
    display: flex;
    margin-bottom: 30px;
    margin-top: 15px;
    position: relative;
}
.ports__wrap .port__inner .port__cont .port .port__body > span img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.ports__wrap .port__inner .port__cont .port .port__body:before {
    background-color: #0f035d;
    border-radius: 50%;
    content: "";
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 50px;
    z-index: -999;
}
.ports__wrap .port__inner .port__cont .port .port__body > div {
    margin-left: 10px;
    text-align: left;
}
.ports__wrap .port__inner .port__cont .port .port__body > div h4 {
    font-size: 20px;
    font-weight: 400;
}
.ports__wrap .port__inner .port__cont .port .port__body > div p {
    color: #2c3a4b;
    font-size: 16px;
}
.ports__wrap .port__inner .port__cont .port:first-child .port__body:before {
    background-color: #fa635c;
}
.ports__wrap .port__inner .port__cont .port:nth-child(2) .port__body:before {
    background-color: #fee580;
}
.ports__wrap .port__inner .port__cont .port:nth-child(3) .port__body:before {
    background-color: #d6d4ed;
}
.ports__wrap .port__inner .port__cont .port:nth-child(4) .port__body:before {
    background-color: #f4d6ba;
}
.ports__wrap .port__inner .port__cont .port:nth-child(5) .port__body:before {
    background-color: #b2b764;
}
.ports__wrap .port__inner .port__cont .port:nth-child(6) .port__body:before {
    background-color: #837673;
}
.youtube__wrap {
    overflow: hidden;
}
.youtube__wrap .youtube__inner {
    height: 500px;
}
.youtube__wrap .youtube__inner .youtube__text > h3 {
    font-size: 50px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 40px;
}
.youtube__wrap .youtube__inner .youtube__text > p {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 25px;
}
.youtube__wrap .youtube__inner .youtube__text > a {
    border-radius: 50px;
}
.youtube__wrap .youtube__inner .youtube__item {
    display: flex;
    padding-top: 70px;
    position: absolute;
}
.youtube__wrap .youtube__inner .youtube__item > div {
    margin-right: 27px;
    width: 400px;
}
.youtube__wrap .youtube__inner .youtube__item > div > a > img {
    border-radius: 10px;
    height: 226px;
    width: 100%;
}
.youtube__slider {
    display: none;
}
.youtube__search {
    margin-bottom: 50px;
    text-align: center;
}
.youtube__search input {
    border: 1px solid #e8ecf2;
    font-size: 16px;
    margin-right: 10px;
    min-width: 300px;
    padding: 10px 20px;
}
.youtube__search button {
    background-color: #f7100d;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 50px;
    text-decoration: none;
    transition: background-color 0.3s;
}
.youtube__search button:hover {
    background-color: #ca0907;
}
.youtube__tag ul {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.youtube__tag ul li a {
    border: 1px solid #f7100d;
    color: #f7100d;
    margin: 0 10px;
    padding: 10px 20px;
}
.youtube__cont ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}
.youtube__cont ul li {
    margin-bottom: 4%;
    width: 24%;
}
.youtube__cont ul li img {
    object-fit: cover;
    width: 100%;
}
.youtube__cont ul li span {
    -webkit-line-clamp: 1;
    display: block;
    margin: 4px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.unsplash__wrap {
    overflow: hidden;
}
.unsplash__wrap .unsplash__inner {
    height: 500px;
}
.unsplash__wrap .unsplash__inner .unsplash__text > h3 {
    font-size: 50px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 40px;
}
.unsplash__wrap .unsplash__inner .unsplash__text > p {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 25px;
}
.unsplash__wrap .unsplash__inner .unsplash__text > a {
    border-radius: 50px;
}
.unsplash__wrap .unsplash__inner .unsplash__item {
    display: flex;
    padding-top: 70px;
    position: absolute;
}
.unsplash__wrap .unsplash__inner .unsplash__item > div {
    margin-right: 27px;
    width: 400px;
}
.unsplash__wrap .unsplash__inner .unsplash__item > div > a > img {
    border-radius: 10px;
    height: 226px;
    width: 100%;
}
.movie__wrap {
    overflow: hidden;
}
.movie__wrap .movie__inner {
    height: 650px;
}
.movie__wrap .movie__inner .movie__text > h3 {
    font-size: 50px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 40px;
}
.movie__wrap .movie__inner .movie__text > p {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 25px;
}
.movie__wrap .movie__inner .movie__text > a {
    border-radius: 50px;
}
.movie__wrap .movie__inner .movie__item {
    display: flex;
    padding-top: 70px;
    position: absolute;
}
.movie__wrap .movie__inner .movie__item > div {
    margin-right: 27px;
    width: 270px;
}
.movie__wrap .movie__inner .movie__item > div > a > img {
    border-radius: 10px;
    height: 413px;
    width: 100%;
}
.footer__wrap .footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer__wrap .footer__inner .footer__text {
    width: 30%;
}
.footer__wrap .footer__inner .footer__text > h5 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 25px;
}
.footer__wrap .footer__inner .footer__text > p {
    color: #909090;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 30px;
}
.footer__wrap .footer__inner .footer__text > ul > li {
    display: inline-block;
    position: relative;
}
.footer__wrap .footer__inner .footer__text > ul > li > a {
    margin-right: 35px;
    width: 20px;
}
.footer__wrap .footer__inner .footer__text > ul > li > a img {
    height: 20px;
    width: 20px;
}
.footer__wrap .footer__inner .footer__text > ul > li:before {
    background-color: #f5f5f5;
    border-radius: 50%;
    content: "";
    height: 35px;
    left: -8px;
    position: absolute;
    top: -7px;
    width: 35px;
    z-index: -999;
}
.footer__wrap .footer__inner .footer__menu {
    display: flex;
    width: 70%;
}
.footer__wrap .footer__inner .footer__menu > div {
    width: 25%;
}
.footer__wrap .footer__inner .footer__menu > div > h4 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
.footer__wrap .footer__inner .footer__menu > div > ul > li > a {
    color: grey;
    font-size: 14px;
    font-weight: 400;
}
.footer__wrap .footer__inner .footer__right {
    border-top: 1px solid #e5e5e5;
    color: grey;
    font-size: 14px;
    margin-top: 50px;
    padding: 30px;
    text-align: center;
    width: 100%;
}
@font-face {
    font-family: swiper-icons;
    font-style: normal;
    font-weight: 400;
    src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA")
        format("woff");
}
:root {
    --swiper-theme-color: #007aff;
}
.swiper,
swiper-container {
    display: block;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 1;
}
.swiper-vertical > .swiper-wrapper {
    flex-direction: column;
}
.swiper-wrapper {
    box-sizing: initial;
    display: flex;
    height: 100%;
    position: relative;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-timing-function: ease;
    transition-timing-function: var(
        --swiper-wrapper-transition-timing-function,
        initial
    );
    width: 100%;
    z-index: 1;
}
.swiper-android .swiper-slide,
.swiper-wrapper {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.swiper-horizontal {
    touch-action: pan-y;
}
.swiper-vertical {
    touch-action: pan-x;
}
.swiper-slide,
swiper-slide {
    display: block;
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    width: 100%;
}
.swiper-slide-invisible-blank {
    visibility: hidden;
}
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
    height: auto;
}
.swiper-autoheight .swiper-wrapper {
    align-items: flex-start;
    transition-property: height, -webkit-transform;
    transition-property: transform, height;
    transition-property: transform, height, -webkit-transform;
}
.swiper-backface-hidden .swiper-slide {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.swiper-3d.swiper-css-mode .swiper-wrapper {
    -webkit-perspective: 1200px;
    perspective: 1200px;
}
.swiper-3d .swiper-wrapper {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.swiper-3d {
    -webkit-perspective: 1200px;
    perspective: 1200px;
}
.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}
.swiper-3d .swiper-slide-shadow {
    background: rgba(0, 0, 0, 0.15);
}
.swiper-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-3d .swiper-slide-shadow-top {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-css-mode > .swiper-wrapper {
    -ms-overflow-style: none;
    overflow: auto;
    scrollbar-width: none;
}
.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
    display: none;
}
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
    scroll-snap-align: start start;
}
.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
    scroll-snap-type: x mandatory;
}
.swiper-vertical.swiper-css-mode > .swiper-wrapper {
    scroll-snap-type: y mandatory;
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper {
    scroll-snap-type: none;
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper > .swiper-slide {
    scroll-snap-align: none;
}
.swiper-centered > .swiper-wrapper:before {
    content: "";
    flex-shrink: 0;
    order: 9999;
}
.swiper-centered > .swiper-wrapper > .swiper-slide {
    scroll-snap-align: center center;
    scroll-snap-stop: always;
}
.swiper-centered.swiper-horizontal
    > .swiper-wrapper
    > .swiper-slide:first-child {
    -webkit-margin-start: var(--swiper-centered-offset-before);
    margin-inline-start: var(--swiper-centered-offset-before);
}
.swiper-centered.swiper-horizontal > .swiper-wrapper:before {
    height: 100%;
    min-height: 1px;
    width: var(--swiper-centered-offset-after);
}
.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
    -webkit-margin-before: var(--swiper-centered-offset-before);
    margin-block-start: var(--swiper-centered-offset-before);
}
.swiper-centered.swiper-vertical > .swiper-wrapper:before {
    height: var(--swiper-centered-offset-after);
    min-width: 1px;
    width: 100%;
}
.swiper-lazy-preloader {
    border: 4px solid #007aff;
    border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
    border-radius: 50%;
    border-top: 4px solid transparent;
    box-sizing: border-box;
    height: 42px;
    left: 50%;
    margin-left: -21px;
    margin-top: -21px;
    position: absolute;
    top: 50%;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    width: 42px;
    z-index: 10;
}
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader,
.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader,
swiper-container:not(.swiper-watch-progress) .swiper-lazy-preloader {
    -webkit-animation: swiper-preloader-spin 1s linear infinite;
    animation: swiper-preloader-spin 1s linear infinite;
}
.swiper-lazy-preloader-white {
    --swiper-preloader-color: #fff;
}
.swiper-lazy-preloader-black {
    --swiper-preloader-color: #000;
}
@-webkit-keyframes swiper-preloader-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
@keyframes swiper-preloader-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
:root {
    --swiper-navigation-size: 44px;
}
.swiper-button-next,
.swiper-button-prev {
    align-items: center;
    color: var(--swiper-theme-color);
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
    cursor: pointer;
    display: flex;
    height: 44px;
    height: var(--swiper-navigation-size);
    justify-content: center;
    margin-top: -22px;
    margin-top: calc(0px - var(--swiper-navigation-size) / 2);
    position: absolute;
    top: 50%;
    top: var(--swiper-navigation-top-offset, 50%);
    width: 27px;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    z-index: 10;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    cursor: auto;
    opacity: 0.35;
    pointer-events: none;
}
.swiper-button-next.swiper-button-hidden,
.swiper-button-prev.swiper-button-hidden {
    cursor: auto;
    opacity: 0;
    pointer-events: none;
}
.swiper-navigation-disabled .swiper-button-next,
.swiper-navigation-disabled .swiper-button-prev {
    display: none !important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 44px;
    font-size: var(--swiper-navigation-size);
    font-variant: normal;
    letter-spacing: 0;
    line-height: 1;
    text-transform: none !important;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 10px;
    left: var(--swiper-navigation-sides-offset, 10px);
    right: auto;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: "prev";
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    left: auto;
    right: 10px;
    right: var(--swiper-navigation-sides-offset, 10px);
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: "next";
}
.swiper-button-lock {
    display: none;
}
.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: opacity 0.3s;
    z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
    opacity: 0;
}
.swiper-pagination-disabled > .swiper-pagination,
.swiper-pagination.swiper-pagination-disabled {
    display: none !important;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 8px;
    bottom: var(--swiper-pagination-bottom, 8px);
    left: 0;
    top: auto;
    top: var(--swiper-pagination-top, auto);
    width: 100%;
}
.swiper-pagination-bullets-dynamic {
    font-size: 0;
    overflow: hidden;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    position: relative;
    -webkit-transform: scale(0.33);
    transform: scale(0.33);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
    -webkit-transform: scale(0.66);
    transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
    -webkit-transform: scale(0.33);
    transform: scale(0.33);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
    -webkit-transform: scale(0.66);
    transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
    -webkit-transform: scale(0.33);
    transform: scale(0.33);
}
.swiper-pagination-bullet {
    background: #000;
    background: var(--swiper-pagination-bullet-inactive-color, #000);
    border-radius: 50%;
    border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
    display: inline-block;
    height: 8px;
    height: var(
        --swiper-pagination-bullet-height,
        var(--swiper-pagination-bullet-size, 8px)
    );
    opacity: 0.2;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
    width: 8px;
    width: var(
        --swiper-pagination-bullet-width,
        var(--swiper-pagination-bullet-size, 8px)
    );
}
button.swiper-pagination-bullet {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}
.swiper-pagination-bullet:only-child {
    display: none !important;
}
.swiper-pagination-bullet-active {
    background: var(--swiper-theme-color);
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
    opacity: 1;
    opacity: var(--swiper-pagination-bullet-opacity, 1);
}
.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
    left: auto;
    left: var(--swiper-pagination-left, auto);
    right: 8px;
    right: var(--swiper-pagination-right, 8px);
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    display: block;
    margin: 6px 0;
    margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
}
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-vertical
    > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 8px;
}
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic
    .swiper-pagination-bullet,
.swiper-vertical
    > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
    .swiper-pagination-bullet {
    display: inline-block;
    transition: top 0.2s, -webkit-transform 0.2s;
    transition: transform 0.2s, top 0.2s;
    transition: transform 0.2s, top 0.2s, -webkit-transform 0.2s;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 4px;
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}
.swiper-horizontal
    > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap;
}
.swiper-horizontal
    > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
    .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic
    .swiper-pagination-bullet {
    transition: left 0.2s, -webkit-transform 0.2s;
    transition: transform 0.2s, left 0.2s;
    transition: transform 0.2s, left 0.2s, -webkit-transform 0.2s;
}
.swiper-horizontal.swiper-rtl
    > .swiper-pagination-bullets-dynamic
    .swiper-pagination-bullet,
:host(.swiper-horizontal.swiper-rtl)
    .swiper-pagination-bullets-dynamic
    .swiper-pagination-bullet {
    transition: right 0.2s, -webkit-transform 0.2s;
    transition: transform 0.2s, right 0.2s;
    transition: transform 0.2s, right 0.2s, -webkit-transform 0.2s;
}
.swiper-pagination-fraction {
    color: inherit;
    color: var(--swiper-pagination-fraction-color, inherit);
}
.swiper-pagination-progressbar {
    background: rgba(0, 0, 0, 0.25);
    background: var(
        --swiper-pagination-progressbar-bg-color,
        rgba(0, 0, 0, 0.25)
    );
    position: absolute;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: var(--swiper-theme-color);
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    width: 100%;
}
.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    -webkit-transform-origin: right top;
    transform-origin: right top;
}
.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical
    > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    height: 4px;
    height: var(--swiper-pagination-progressbar-size, 4px);
    left: 0;
    top: 0;
    width: 100%;
}
.swiper-horizontal
    > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical,
.swiper-vertical > .swiper-pagination-progressbar {
    height: 100%;
    left: 0;
    top: 0;
    width: 4px;
    width: var(--swiper-pagination-progressbar-size, 4px);
}
.swiper-pagination-lock {
    display: none;
}
/*# sourceMappingURL=main.e59855a3.css.map*/
